body,
html {
  font-family: "ExpertSans";
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

portfolio-assets,
indicators  {
  font-family: "ExpertSans";
  font-weight: normal;
  width: 30%;
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}

indicators {
  width: 25%;
  position: relative;
  padding: 40px 0 0;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #ff5c1e;
}


/* Screen size smaller than 1200px */
@media screen and (max-width: 1200px) {

  #graph {
    width: 38% !important;
  }

  portfolio-assets {
    width: 36%;
  }

  indicators {
    width: 26%;
  }

  #indicators {
    padding-top: 40px !important;
  }

}

/* Screen size bigger than 1280px */
@media screen and (min-width: 1280px) {

  #graph {
    width: 48% !important;
  }

  indicators {
    width: 22%;
  }

  #indicators {
    padding-top: 140px !important;
  }

}
