<header>
  <h1><md-icon>equalizer</md-icon>{{title}}</h1>
  <nav>
    <ul>
      <li><a href="#" class="thumb-view" [class.active]="view == 'thumb'"><md-icon>apps</md-icon></a></li>
      <li><a href="#" class="list-view" [class.active]="view == 'list'"><md-icon>list</md-icon></a></li>
      <li><a href="#" class="account"><md-icon>person</md-icon></a></li>
    </ul>
  </nav>
  <portfolio-tickers></portfolio-tickers>
</header>

<portfolio-assets></portfolio-assets>

<div id="graph">
  <a href="#" >Exposure<md-icon>arrow_drop_down</md-icon></a>
  <figure></figure>
</div>

<indicators></indicators>
